{% extends '__base_template.html' %}

{% block content %}
<form
        action="/sms-new"
        method="post"
        enctype="multipart/form-data"

        class="card"
>
    {{ form.hidden_tag() }}
    <div class="card-body">
        <div class="form-group">
            <label for="{{ form.recipient.id }}">{{ form.recipient.label }}</label>
            {{ form.recipient(class_="form-control") }}
        </div>
        <div class="form-group">
            <p></p>
            <label for="{{ form.text.id }}">{{ form.text.label }}</label>
            {{ form.text(class_="form-control") }}
        </div>
         {{ form.submit(class_="btn btn-primary") }}
    </div>
</form>
{% endblock %}

