{% extends '__base_template.html' %}

{% block content %}
<form action="/sms-new" method="post" class="card">
    <div class="card-body">
        {% if has_error %}
        <div class="alert alert-danger"> Ошибка </div>
        {% endif %}

        <div class="form-group">
            <label>Кому</label>
            <label for="{{ form.recipient.id }}">{{ form.recipient.label }}</label>
            {{ form.email(class_="form-control") }}
        </div>
        <div class="form-group">
            <label>Текст</label>
            <p></p>
            <label for="{{ form.about_me.id }}">{{ form.about_me.label }}</label>
            {{ form.about_me(class_="form-control") }}
        </div>
        <button type="submit" class="btn btn-primary">Отправить</button>
    </div>
</form>
{% endblock %}

